# Ignore node modules
node_modules/

# Ignore git files
.git/
.gitignore

# Ignore Dockerfile and docker-compose to keep the build context clean
Dockerfile
docker-compose.yml

# Ignore any .env files
.env
